.header{
    position: fixed;
    background-color: black;
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: outset;
}
.jeuxListContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    height:100%;
    margin-top: 1vh;
    margin-right: 1vh;
}
.headerButton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: black;
    border: solid;
    border-style: outset;
    width: 15vh;
    padding-top: .5vh;
    padding-bottom: .5vh;

}
.visible{
    visibility:hidden;
}
.headerButton:hover ~ .visible{
    visibility: visible;
}
.visible:hover{
    visibility: visible;
}
.bordershow{
    border:solid;
}
.mainPage{
    background-color: #f9f9f9;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
    text-align: justify;
}
.border{
    border-bottom-color:lightgray;
    border-style: outset;
    border-radius: 1vh;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}
.nodotlist{
    list-style-type: none;
}
.width100{
    width: 100%;
}
.video{
    margin-top: 15vh;
    margin-bottom: 5vh;
}

@font-face {
    font-family: titre;
    src: url(./fonts/lana_turner/Lana\ Turner.ttf);
}
@font-face {
    font-family: p;
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}
.title{
    font-family:titre;
    font-size: 15vh;
    margin-top: 15vh;
}
body{
    font-family: p;
}