/*thanks to jacob broughton for the tutorial: https://www.youtube.com/watch?v=6O_4p-H1-lY&ab_channel=JacobBroughton*/
.toggle-btn{
    background-color: #b7b9ba;
    border:1px solid #aaa;
    border-radius: 99px;
    width: 50px;
    height: 28px;
    transition: background-color 0.1s ease, border-color 0.2s ease;
    cursor: pointer;
    box-shadow:1px 1px 10px rgba(0,0,0,0.748);
    position:relative;
}
.toggle-btn .thumb{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 99px;
    transform: translateX(0);
    transition: left 0.15s ease;
    position:absolute;
    left:3px;
    top:50%;
    transform:translateY(-50%);
}

.toggle-btn.toggled{
    background-color: rgba(10, 186, 10, 0.841);
}
.toggle-btn:hover{
    border-color: grey;
}
.toggle-btn.toggled .thumb{
    left:calc(50px - 25px);
}