/*----------------------------------FORMA TWO OF THREE----------------------------------------*/
.gameDisplay{
    font-size: 1.5rem;
}
.teamsDisplay{
    display: flex;  
}
.singleTeamDisplay{
    background-color: #3d4351;
}
.teamNameDisplay{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    width: 30vh;
    height: 5vh;
}
.membersDisplay{
    height: 5vh;
    width: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid;
    border-right: solid;
    border-left: solid;
}
.vs{
    width: 25vh;
    margin: auto;
    font-size: 20vh;
}
.etoile{
    border-left: solid;
    border-right: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
}
.destructions{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}
.teamName{
    width: 50%;
}